@charset "utf-8";
/* CSS Document */

/*结构*/
body{ color:#333; font-family: "宋体";}
.rightPart{ font-family:"微软雅黑", "宋体";}
.list01{margin:0;padding:0;}
.list01 li{background:url("../images/public/Point.jpg") no-repeat 0px 14px;margin:0;padding:3px 0 3px 12px;line-height:26px; font-size:14px;list-style:none;}
.list01 li a:hover{ text-decoration:underline;}
.list01 li .datetime{float:right;color:#999999;}
.container{ padding-top:13px;}
.box{ margin-bottom:30px;}


/*标题部分*/
h1{ line-height:56px; font-family:"微软雅黑", "宋体"; font-size:38px; text-align:center; padding:26px 0 26px 0; font-weight:normal;}
.pages-date{text-align:center;color:#666666;font-size:14px;height:35px;overflow:hidden;}
.pages-date span.font,.pages_print span.font{margin:0 10px;}

.pages_print{ padding-bottom:11px}
.pages_print .index_switchsize{float:left;padding-left:180px;}
.pages_print .printIco{float:left; background:url(../images/public/ico.png) no-repeat 0px 0px; padding-left:22px;}
.pages_print .share{float:left;padding-left:20px;width:auto;margin:0;}
.pages_print .index_switchsize span{cursor:pointer;}
.pages_print{text-align:center;font-size:14px;height:30px;border-bottom:1px #dcdcdc solid;}
.pages_print .share{color:#898989;}
#btnPrint{cursor:pointer;}

/*正文*/
.pages_content{line-height:30px;margin:0;padding:40px 0 40px 0;font-size:16px;}
.pages_content p{ margin-top:15px;}
.pages_content .list01 li a p{ margin-top:0px;	font-family:Microsoft Yahei;}
.pages_content .editor{color:#898989;font-size:12px;text-align:right;padding:5px 0;}
.editor{ text-align:right; color:#888888; font-size:14px;}

/*相关*/
.keyWord{ margin-top:50px}
.de_bannerS{ display:none; position:relative; height:103px; padding:10px 20px; margin:38px 0; border:1px #dddddd solid;}
.de_bannerS a{ position:absolute; width:71px; height:70px; top:28px; background:url(../images/public/ico1.jpg) no-repeat;}
.de_bannerS a.bannerA1{ background-position:0px 0px;right:20px;}
.de_bannerS a.bannerA2{ background-position:0px -72px;right:106px;}

.xg-list{ padding-bottom:15px;}
.xg-list .pannel-title{margin:0;color:#00558e;line-height:33px;font-size:18px; font-family:"微软雅黑", "宋体";}


/*图文*/

.newPicture{width:713px;overflow:hidden; }
.newPicture .con{position:relative; width:732px;left:-7px;}
.newPicture dl{ float:left; width:230px; margin:0 6px; background:#dfdfdf; z-index:1;}
.newPicture dl a{ display:block;}
.newPicture dl dt{ height:134px;}
.newPicture dl dd{ font-size:13px; line-height:19px; padding:12px;}

/*热词*/
.hotKey .con{ padding:8px 0;}
.hotKey a{	display:inline-block; margin-right:31px; line-height:31px;}


/*回到顶部*/
.back_top{ width:48px; height:48px; padding-top:26px; background:url(../images/public/backTop.jpg) no-repeat top center; cursor:pointer; position:fixed; _position:absolute; top:85%;left:50%; margin-left:556px;_bottom:auto;_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||20)-(parseInt(this.currentStyle.marginBottom,10)||20))); }
.back_top a{ display:block; text-align:center; background:#c1c1c1; font-size:16px; font-family:"微软雅黑", "宋体"; color:#fff; line-height:20px; padding:4px 3px;}
.back_top a:hover{ background:#afafaf;}



/*二维码*/
.erwei{ width:390px; margin:10px auto;}
.erwei .youErwei{ width:132px; float:right; text-align:center;}
#div_div{width:145px; margin:0 auto;text-align: center;}
#qr_container{ color:#b5b5b5; font-size:12px; line-height:26px; position:relative;}


/*国务院常务会议*/
.gwycwhy_btn{ width:auto;}


/*排行榜*/
.column3ri4 {padding-top:10px;}
.column3ri4_1  li { width:41px; height:41px; line-height:41px; background:url(../images/index/p12.jpg) no-repeat 0 0; text-align:center; float:left; margin-right:5px; margin-top:15px;font-family:"微软雅黑","宋体"; font-size:14px;}
.column3ri4_1  li.hover a{background:url(../images/index/p13.jpg) no-repeat 0 0;width:41px; height:41px; display:block;}
.column3ri4_2_con ul{margin-top:10px; margin-bottom:10px;}
.column3ri4_2_con li{font-family:"宋体"; font-size:14px; line-height:17px; padding:5px 0;}
.sjcx_btn{ position:absolute; top:256px; *top:262px; left:48px;display: block;
width: 130px;
height: 40px;}
.column3ri4 .pannel-title{margin:0;color:#00558e;line-height:33px;font-size:18px; font-family:"微软雅黑", "宋体";}


/*-----------------------一栏----------------------*/
.oneColumn{ padding:10px 66px;}
.oneColumn .pages_print .index_switchsize{padding-left:275px;}
.oneColumn .de_bannerS{ height:100px; padding:15px 26px; margin:38px 0;f}
.oneColumn .de_bannerS a.bannerA1{ background-position:0px 0px;right:146px;}
.oneColumn .de_bannerS a.bannerA2{ background-position:0px -72px;right:58px;}
.oneColumn .newPicture{width:890px; overflow:hidden;}
.oneColumn .newPicture .con{ width:999px;left:-9px;_left:-18px;}
.oneColumn .newPicture dl{ text-align:center; width:287px; margin:0 9px; background:#dfdfdf; z-index:1;}
.oneColumn .newPicture dl dt{ height:167px;}
.oneColumn .newPicture dl dd{ padding:10px;}




/*分页*/
#pageBreak{ margin:0 auto 40px; position:relative;top:21px;}
#pageBreak a{ display:inline-block; width:24px; height:24px; line-height:24px; text-align:center; margin:0 3px; background:#dedede; color:#313131;}
#pageBreak a.hover{ background:#0b67a6; color:#fffdf4;}
#pageBreak span{ display:inline-block; height:24px; line-height:24px; text-align:center; margin:0 3px; color:#313131;}
#pageBreak span.laypage_curr{background:#0b67a6; color:#fffdf4; width:24px; }


/*add 0122*/
#pageBreak span{ font-size:16px;}
#pageBreak a{ font-size:16px;}
.hotKey a{ font-size:16px;}

/* 2019年11月26日正文链接变蓝 */
.pages_content a{color:#0000FF;}
.pages_content a:hover{text-decoration:underline;}

/*2023.03.30 添加*/
.mianbaoxie{display:none;}