@charset "utf-8";
/* footer */
body{background: #fff;}
.footer_wrap{border-top: #2e5586 1px solid;}
.footer_links{padding: 30px 0 12px 22px; line-height:25px; overflow: hidden; border-bottom: 1px solid #bababa;}
.footer_links li{float:left; padding-right:25px;}
.footer_links2{font-size: 14px;padding-left:96px;}
.zbd{width:400px;}
.bqs{width:330px;}

.footer{padding-top: 22px; height: 140px; font-size: 14px;}
.footer_dzjg{padding: 10px 20px 0 12px;}
.footer_nav{margin-bottom: 7px;}
.footer_nav .split{margin: 0 15px;}
.footer_bg_gray{background: #e0e0e0; height: 25px; line-height: 25px; margin-bottom: 7px;}

.footer_r{margin-right: 24px;}
.footer_ewm{margin-right: 20px;}
.footer_ewm img{display: block; width: 90px; height: 90px; margin: 0 auto 8px;}
.footer_ewm span{display: block; font-size: 12px; color: #646464; text-align: center;}

.footer_wxwb p{width: 90px; padding-top: 5px; line-height: 30px; color: #646464; text-align: center; font-size: 18px; margin: 0 auto;}
.footer_wxwb p a{color: #646464;}
.footer_ewm_gkhd{*width: 90px;}
.footer_ewm_xcx{*width: 108px;}
.footer_wxwb{*width: 102px;}


@media print{
.footer_links,.footer_r,.footer_nav{display:none;}
}